
@{
    ViewBag.Title = "AddCategory";
}

<h2>AddCategory</h2>

<form class="form-group" method="post">
    <div>
        <label>
            Kategori Adı
        </label>
        <input type="text" class="form-control" name="Name" />
        <div style="margin-top:20px">
            <button class="btn btn-info">Kategori Ekle</button>
        </div>
    </div>
</form>

